<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
    colors="true"
    verbose="true"
    stopOnFailure="false">
    <testsuites>
        <testsuite name="Tests for logger basics">
            <directory suffix="Test.php" phpVersion="8.1.1">./tests/</directory>
            <exclude>./tests/modulesTests/</exclude>
            <exclude>./tests/formattersTests/</exclude>
        </testsuite>
        <testsuite name="Tests for logger modules">
            <directory suffix="Test.php" phpVersion="8.1.1">./tests/modulesTests/</directory>
        </testsuite>
        <testsuite name="Tests for logger formatters">
            <directory suffix="Test.php" phpVersion="8.1.1">./tests/formattersTests/</directory>
        </testsuite>
    </testsuites>
</phpunit>